html,
body {
    background: #0061c9;
    color: #fcfcfc;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    margin: 0;
}

.my-content {
    margin-top: 60px;
    background: rgb(25, 25, 25);
}

.links ul {
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}

.links li {
    line-height: 2.5rem;
    float: left;
    text-align: center;
    color: black;
    margin: 0;
    list-style-type: none;
    width: 160px;
}

.links>ul>span>li>ul {
    display: none;
}

.links>ul a {
    color: #fcfcfc;
    padding: 0 15px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.links>ul>span>li:hover>ul {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    background-color: rgb(25, 25, 25);
    position: relative;
    height: 2.5rem;
    z-index: 2;
}

.links>ul>span>li>ul:hover>a {
    opacity: 0.3;
}

.full-height {
    height: 8vh;
}

.top-left {
    margin: auto;

}
.top-right {
    position: absolute;
    top: 20px;
    right: 20px;
}


.top-left>a {
    position: absolute;
    text-decoration: none;
    font-size: 1.5rem;
    margin-left: 1rem;
    margin-top: 1px;
    color: #fcfcfc;
    left: 10px;
    top: 18px;
}

.top-left>a:hover {
    opacity: 0.3;
}

.top-right>ul>span>li>a:hover {
    opacity: 0.3;
}

.top-right>ul>li>a:hover {
    opacity: 0.3;
}

.content {
    text-align: center;
    background-color: #fcfcfc;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-top: 10vh;
}

.dropdown-display {
    width: 50px;
    position: static;
    left: 25px;
}


.form-control{
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2vh;
}

.header1 {
    text-align: center;
    margin-bottom: 3vh;
}

.header2 {
    text-align: center;
    margin-bottom: 0.2vh;
}

.check{
    margin-left: 40vh;
}

.btn {
    width: 20vh;
}
/* #footer {
    background-color: #007BFF;
    clear: both;
    color: #fcfcfc;
    height: 5vh;
    display: block;
    text-align: center;
    margin-top: 2.2vh;
    text-transform: uppercase;
} */

#footer {
    clear: both;
    color: #fcfcfc;
    display: block;
    height: 2vh;
    margin-bottom: 3vh;
    text-align: center;
    text-transform: uppercase;
}
