@import url(https://fonts.googleapis.com/css?family=Roboto:500);
html,
body {
    background: #0061c9;
    color: #fcfcfc;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    margin: 0;
}

.my-content {
    margin-top: 60px;
    background: rgb(25, 25, 25);
    min-height: 90vh;;
    
}

.links ul {
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}

.links li {
    line-height: 2.5rem;
    float: left;
    text-align: center;
    color: black;
    margin: 0;
    list-style-type: none;
    width: 200px;
}

.links>ul>span>li>ul {
    display: none;
}

.links>ul a {
    color: #fcfcfc;
    padding: 0 15px;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

/* wyloguj */
.links>ul>span>li:hover>ul {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    background: #0061c9;
    position: relative;
    height: 2.5rem;
    z-index: 2;
}

.links>ul>span>li>ul:hover>a {
    opacity: 0.3;
}

.full-height {
    height: 8vh;
}

/* menu */
.top-right {
    position: absolute;
    top: 11px;
    right: 20px;
}

/* ipies */
.top-left>a {
    position: absolute;
    text-decoration: none;
    font-size: 1.75rem;
    margin-left: 1rem;
    margin-top: 1px;
    color: #fcfcfc;
    left: 10px;
    top: 8px;
}

.top-left>a:hover {
    opacity: 0.7;
}

.top-right>ul>span>li>a:hover {
    opacity: 0.3;
}

.top-right>ul>li>a:hover {
    opacity: 0.3;
}

.content {
    text-align: center;
    background-color: #fcfcfc;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-top: 10vh;
}

/* .dropdown-display {
    width: 50px;
    position: static;
    left: 25px;
} */

.question-input {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2vh;
}

.answer-input {
    width: 500px;
    margin-bottom: 2vh;
}

/* Dodaj pytanie */
.header1 {
    text-align: center;
    margin-bottom: 3vh;
}

/* Dodaj odpowiedzi */
.header2 {
    text-align: center;
    margin-bottom: 3vh;
    margin-top: 3vh;
}

/* odpowiedzi i tekst */
.check-valid {
    margin-left: 60%;
    margin-bottom: 1vh;;
    margin-top: 0.5rem;
    width: 20vw;
}

/* cały div */
#answer-all {
    display: grid;
    grid-template-columns: 20vw 500px 20vw;
    float: center;
    left: 20vh;;
}

#head-answer-all {
    display: flex;
    justify-content: center;
}

.btn {
    width: 10vw;
    background-color: #0061c9;
    color: #fcfcfc;
    margin-bottom: 10vh;
    margin-top: 2vh;
}

.card {
    background: rgb(39,39,39);
    color: #fcfcfc;
}

.card-header {
    border: none;
    background: rgb(39, 39, 39);
}

.btn-primary { 
    width: 9.7rem;
    color: #fcfcfc;
    height: 2.5rem;
    text-decoration: none;
} 

.btn-karp {
    background: #696969;
    color:#fcfcfc;
    width: 10.7rem;
    border: none;
    line-height: 1.75rem;
}

.btn-google {

    width: 20.6rem;
    padding: 0.6rem;
    border: none;
    border-radius: 4px;
    opacity: 0.85;
    display: flex;
    font-size: 17px;
    background-color: white;
    color: gray;
    margin-bottom: 30px;
    
}
.google-icon-box {
    position: absolute;
    padding: 1px;
    width: 28px;
    height: 28px;
    border-radius: 2px;
    background-color: white;
}
.google-icon{
    position: absolute;
    width: 20px;
    height: 20px;
}
.google-text{
    margin-left:2rem;
    font-size: 14px;
    letter-spacing: 0.2px;
    font-family: "Roboto";
}

.btn-karp:hover {
    background: rgb(110, 110, 110);
    box-shadow: inset 0 0 100px 100px 
    rgba(255, 255, 255, 0.1);
}

.footer {
    clear: both;
    color: #fcfcfc;
    display: block;
    height: 0.5vh;
    margin-top: 1vh;
    text-align: center;
    text-transform: uppercase;
}

.btn-login-page{
    margin-bottom: 5px;
}
